<div class="container mt-5">

  <nav class="nav nav-pills flex-column flex-sm-row" style="    background-color: var(--bs-nav-link-color);
    border-radius: 14px;">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/pending-tasks" routerLinkActive="active-mod"
      aria-current="page" style="color:white" href="#">Pendientes</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/completed-tasks" routerLinkActive="active-mod"
      aria-current="page" style="color:white" href="#">Completas</a>
    <a class="flex-sm-fill text-sm-center nav-link " routerLink="/all-tasks" routerLinkActive="active-mod"
      aria-current="page" style="color:white" href="#">Todas</a>
  </nav>

</div>
